{% extends "common.html" %}
{% block css %} 
    a{
        margin-left:50px;
    }
{%endblock%}
{% block title %}Home Page {% endblock %}
{% block body %}
    <div class="container mt-5">
        <div class="jumbotron">
            <h1 class="text-success text-center mt-4">Home Page</h1>
            <p class="text-center text-primary">This Site is for Testing Purpose</p>

        </div>
    </div>

    <a href="/invoice" class="btn btn-lg btn-outline-primary" style="margin-left:45%;">Print Invoice</a><br><br>

{% endblock %}