{% extends "common.html" %}
{% block title %}Home Page {% endblock %}
{% block body %}
    <h2>User Resistraion Form</h2>
    {% if pdm %}
    <h3>{{pdm}}</h3>
    {%endif%}
    <form action="" method="POST">
        {% csrf_token %}
        <label for="un">Username: </label><input type="text" name="username" id="un"><br><br>
        <label for="fn">Full Name: </label><input type="text" name="fullname" id="fn"><br><br>
        <label for="em">Email: </label><input type="email" name="email" id=em""><br><br>
        <label for="pw">Password: </label><input type="password" name="pwd1" id="pw"><br><br>
        <label for="pwd">Confirm Password: </label><input type="password" name="pwd2" id="pwd"><br><br>
        <label for="ph">Mobile Number: </label><input type="number" maxlength="10" name="phn" id="ph"><br><br>
        <input type="submit" value="Signup">
    </form>

{% endblock %}